:root {
    --bg: linear-gradient(180deg, #fddcf0, #e2ccf8);
    --card: #FFFFFFCC;
    --primary: #F9C3F7; 
    --text: #111827;
    --card: rgba(255,255,255,0.75);
}

body {
    background: var(--bg);
    color: var(--text);
    transition: 0.4s ease;
    padding-top: 65px; /* FIX for fixed header */
}

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




/* ================= HEADER / NAVBAR ================= */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card);
    backdrop-filter: blur(12px);
    z-index: 1000;
}

.header h1 { 
    color: #e648ec; 
    font-size: 22px;
}

/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 22px;
}

.nav-links li a {
    text-decoration: none;
    color: #AF2BE6;
    left: 10px;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    transition: color 0.3s ease;
}

/* Hover underline animation */
.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #cb6af4;
    transition: width 0.3s ease;
}

.nav-links li a:hover {
    color: #441F5B;
}

.nav-links li a:hover::after {
    width: 100%;
}



/* ================= HERO ================= */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.hero span { 
    color: var(--primary); 
}





/* BUTTONS */ 
.button1 {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 16px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
 top: 60%;
 right: 20px;
}

.button2 {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 display: inline-block;
 position: relative;
 transition: all 0.3s;
 top: 60%;
 left: 50px;
}

.button1::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button2::after {
 pointer-events: none;
 content: "";
 position: absolute;
 text-decoration: none;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button1:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button2:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 text-decoration: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button1:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.button2:active {
  text-decoration: none;
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}





/* ABOUT SECTION */

.about {
  padding: 80px 8%;
  background: linear-gradient(180deg, #fddcf0, #e2ccf8);
}

.about-subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  font-size: 44px;
  font-weight: 700;
  color: #523108;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Photo */
.about-img img {
  width: 310px;
  height: 360px;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid #fafafa;
  transition: transform 0.4s ease;
}

.about-img img:hover {
  transform: scale(1.05);
}

.about-text h2 {
  color: #9108ad;
}

.about-text p {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}

/* ================= SECTIONS ================= */
.section {
    padding: 100px 60px;
}

/* ================= SERVICE ================== */
.service-section {
  padding: 80px 8%;
  text-align: center;
  background: #ffffff;
}

.service-subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}

.service-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  background: linear-gradient(
    135deg, #a855f7, #e81c82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.service-desc {
  max-width: 900px;
  margin: 0 auto 60px;
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-box {
  background: #f9e6f9;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 50px 20px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.icon.zap {
  background: linear-gradient(135deg, #a855f7, #ec4899);
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */
  border-radius: 16px;
}

.service-box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* Responsive */
@media (max-width: 992px) {
  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .service-cards {
    grid-template-columns: 1fr;
  }
}